.section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.step {
  border: 5px solid black;
  height: 500px;
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.step1 {
  background-color: aqua;
}
.step2 {
  background-color: coral;
}
.step3 {
  background-color: rgb(6, 132, 243);
}

.inputContainer {  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: inherit;
  border: 2px black solid;
  width: 200px; 
  
}

.inputName{
  width: 190px;

}
.font{
  font-size: 25px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.buttonDiv{
  width: inherit;
  display: flex;
  justify-content: space-between;
}


